module.exports = {
    entry: './js/app.js', //an entry point for the application
    output: {
        path: './build', //location for output file
        filename: 'bundle.js', //name of output file
    },
    module: {
        loaders: [{
            test: /\.js$/, //run through files matching this regex
            exclude: /node_modules/, //exclude these files
            Loader:'babel-loader', //use a babel loader
            query: {
                presets: ['es2015'] //use this babel preset
            }
        }]
    }
};